.exames-nav-content{
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    height: 150px;  
    align-items: center;
    color: #fff;
}

.exames-nav-content h1 {
    margin: 0px;
    font-weight: 700;
    font-size: 35px;
    margin: 0 0 0 50px;
     
}

.exames-nav-chavao{
   
    font-family: monospace;
    
}