.exames-nav-content{
    background-color: var(--color-primary);
    color: #fff;
    
}

.exames-nav-content h1 {
    margin: 0px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    
     
}

.exames-nav-chavao{
   
    font-family: monospace;
    
}
.exames-nav-content{
    text-align: center;
}